<table class="table admintable text-center">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>E-mail</th>
            <th>Timecreated</th>
        </tr>
    </head>
    <tbody>
        <tr>
            <td>{{firstname}}</td>
            <td>{{lastname}}</td>
            <td>{{email}}</td>
            <td>{{timecreated}}</td>
        </tr>
        <tr>
            <td colspan="4" class="text-center">
                No data to display. Add a record {{data}}
            </td>
        </tr>
    </tbody>
</table>

<hr>